@import "../../../assets/colors/colors";
@import "../../../assets/mixins/pages";

.IndividualWrapper {
    width: 100%;
    margin: 0 auto;
    background-color: $light-blue;
    border-radius: .5rem;
    border: 1px solid $light-blue;

    @include pageHeader;

    @include pageNav;

    .Main {
        overflow-x: scroll;
    }

    .Message {
        font-size: 1.5rem;
        text-align: center;
    }
}

@media (min-width: 1023px) {
    .IndividualWrapper {
        .Nav {
            overflow-x: auto;
        }
    }
}