@import "../../assets/colors/colors";

.LoginWrapper {
    position: relative;
    height: 100vh;
    min-height: 40rem;
    max-height: 48rem;
    background-color: $dark-blue;
    overflow-x: hidden;

    .Wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .LoginImgWrapper {
        position: relative;
        width: 18rem;
        margin: 0 auto;
        z-index: 2;

        .LoginImg {
            width: 100%;
        }
    }
}

@media (min-width: 1023px) {
    .LoginWrapper {
        display: flex;
        max-height: none;

        .Wave {
            display: none;
        }

        .LoginImgWrapper {
            width: 50%;
            background-image: url('../../assets/img/logo.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            .LoginImg {
                width: 30rem;
                height: 32rem;
                background-color: $light-blue;
                position: absolute;
                top: calc(50% - 16rem);
                right: 0;
                box-shadow: -5px 5px 32px $dark-blue;
                border-radius: .5rem 0 0 .5rem;
            }
        }

        .LoginImgWrapper::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(95, 121, 169, .5);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(10px);
        }
    }
}

@media (min-width: 2000px) {
    .LoginWrapper {
        .LoginImgWrapper {
            .LoginImg {
                width: 50rem;
                height: 55rem;
                top: calc(50% - 25rem);
            }
        }
    }
}