@import "../../assets/colors/colors";

.NotesBuilder {
    width: 30rem;
    max-width: 98%;
    height: 30rem;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: .5rem;

    .CreateNote {
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        background-color: $dark-blue;
        border-radius: .5rem;

        input,
        button {
            border-radius: .5rem;
            border: none;
        }

        input {
            margin-left: .5rem;
            height: 2.5rem;
            width: calc(100% - 4.5rem);
            background-color: inherit;
            color: $whiteish;
            font-size: 1rem;
        }

        input::placeholder {
            color: $whiteish;
        }

        button {
            width: 4rem;
            height: 2rem;
            margin-right: .5rem;
            padding: 0;
            float: right;
            background-color: $light-blue;
            color: $whiteish;
            transition: all 200ms linear;
        }

        button:hover {
            background-color: $whiteish;
            color: $dark-blue;
        }
    }

    .NotesList {
        width: 100%;
        max-height: 30rem;
        padding: 1rem;
        margin-top: 1rem;
        background-color: $dark-blue;
        border-radius: .5rem;
        overflow-y: scroll;

        h2 {
            text-align: center;
        }

        li {
            width: 95%;
            margin: 1rem auto;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            font-size: 1rem;
            border-bottom: 1px solid rgba(180, 178, 178, 0.651);

            .Note {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    width: 95%;
                    word-wrap: break-word;
                    cursor: pointer;
                }

                .Checked {
                    text-decoration: line-through;
                }

                img {
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    cursor: pointer;
                }

            }

            span {
                margin-top: 1rem;
                text-align: right;
                color: rgba(180, 178, 178, 1);
            }
        }
    }

    footer {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 1rem auto;
        border-radius: .5rem;
        background-color: $dark-blue;

        p {
            margin: 1rem 0;
            cursor: pointer;
        }

        p:hover {
            color: $light-blue;
        }
    }
}

@media (min-width: 1023px) {
    .NotesBuilder {
        .NotesList {
            li {
                .Note {
                    img {
                        display: none;
                    }
                }
            }

            li:hover {
                img {
                    display: block;
                }
            }
        }
    }
}