@import "../../../../assets/colors/colors";

.DoughnutWrapper {
    width: 30rem;
    max-width: 95%;
    height: fit-content;
    margin: 0 auto;
    padding: 1rem;
    background-color: $dark-blue;
    border-radius: 1rem;

    h1 {
        text-align: center;
    }
}