@import "../../assets/colors/colors";
@import "../../assets/mixins/mixins";

.Notes {
    @include pageWrapper;

    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Main {
        min-height: 75vh;
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1023px) {
    .Notes {
        @include pageWrapper1023;
    }
}