@import "../../assets/colors/colors";

.Notes {
    max-width: 95%;
    margin: 2rem auto 0;
    padding: 1rem;
    background-color: $light-blue;
    border-radius: 1rem;

    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Main {
        min-height: 75vh;
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1023px) {
    .Notes {
        margin-left: calc(5rem + 2.5%);
        margin-right: 2.5%;
    }
}