@import "../../../assets/colors/colors";
@import "../../../assets/mixins/pages";

.GroupsWrapper {
    width: 100%;
    margin: 0 auto;
    background-color: $light-blue;
    border-radius: .5rem;
    border: 1px solid $light-blue;

    @include pageHeader;

    @include pageNav;

    .Main {
        overflow-x: auto;

    }

    .Message {
        font-size: 1.5rem;
        text-align: center;
    }

    img {
        display: block;
        margin: 2rem auto;
        max-width: 100%;
    }
}

@media (min-width: 1023px) {
    .GroupsWrapper {
        .Nav {
            overflow-x: auto;
        }
    }
}