@import "../../../assets/colors/colors";

.EditProfile {
    .ProfileImg {
        position: relative;
        width: 100%;
        height: 10rem;
        margin: auto;

        img {
            position: relative;
            display: block;
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            margin: 5rem auto 0;
            border: 10px solid $light-blue;
            border-radius: 100%;
            background-color: $light-blue;
        }

        .RemoveImgBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            visibility: hidden;
            opacity: 0;
            left: calc(50% - 5rem);
            width: 10rem;
            height: 10rem;
            border-radius: 100%;
            background-color: rgba(53, 52, 52, 0.8);
            border: none;
            cursor: pointer;
            color: white;
            transition: all 200ms linear;
            font-size: 1.2rem;

            p {
                margin: 0 1rem;
            }
        }

        .RemoveImgBtn:hover {
            transform: scale(1);
        }

        .RemoveImgBtn.active {
            visibility: visible;
            opacity: 1;
        }
    }

    .ProfileImg::before {
        display: block;
        position: absolute;
        top: calc(-5rem - 10px);
        content: "";
        width: 100%;
        height: 100%;
        background-color: $dark-blue;
    }

    .ProfileForm {
        display: flex;
        flex-flow: column;

        label {
            display: flex;
            flex-flow: column;
            width: 20rem;
            max-width: 95%;
            margin: .5rem auto;
            color: $dark-blue;
            font-weight: 700;

            input {
                height: 2.5rem;
                margin: .5rem 0 0;
                background-color: $light-blue;
                border: 2px solid $dark-blue;
                border-radius: .5rem;
            }


            input[type="file"]::file-selector-button {
                height: 100%;
                background-color: $dark-blue;
                border: none;
                color: $light-blue;
                cursor: pointer;
            }
        }

        button {
            display: block;
            width: 6rem;
            margin: 1rem auto;
            padding: .5rem;
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $light-blue;
            border-radius: .5rem;
            border: none;
            background-color: $dark-blue;
        }
    }
}