@import "../../assets/colors/colors";

.MainNav {
    width: 70%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-110%);
    // translateX 110% to avoid shadow to be seen when nav is closed
    transition: transform 200ms ease-in-out;
    border-radius: 0 1rem 1rem 0;
    background-color: $dark-blue;
    z-index: 200;

    .Logo {
        width: 5rem;
        height: 5rem;
        margin-left: 1rem;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .NavList {
        padding: 1rem 0 1rem 1rem;
        height: fit-content;

        svg {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 1rem;
        }

        li {
            margin: 2rem 0;

            a {
                display: flex;
                padding: 1rem 0 1rem 1rem;
                font-size: 1.2rem;
                transition: border 100ms linear;

                p {
                    margin: 0;
                }
            }

            a:hover,
            a:active,
            a.active {
                border-left: 5px solid $whiteish;
            }
        }

        .Logout {
            display: flex;
            align-items: center;
            background: none;
            border: none;
            color: $whiteish;
            padding-left: 1rem;

            p {
                font-size: 1.2rem;
            }
        }
    }
}

.MainNav.active {
    transform: translateX(0);
    box-shadow: 15px 15px 20px $dark-blue;
}

@media (max-width: 320px) {
    .MainNav {
        width: 80%;
    }
}

@media (min-height: 500px) {
    .MainNav {
        position: fixed;
    }
}

@media (min-width: 750px) {
    .MainNav {
        width: 50%;
    }
}

@media (min-width: 1023px) {
    .MainNav {
        width: 5rem;
        overflow: hidden;
        transform: translateX(0);
        animation: navClose 200ms linear;

        .Logo {
            margin: 0 auto;
        }

        .NavList {
            width: 15rem;

            p {
                transition: opacity 200ms linear;
                opacity: 0;
            }
        }
    }

    .MainNav.active {
        width: 15rem;
        animation: navOpen 200ms linear;

        p {
            transition: opacity 200ms linear;
            opacity: 1;
        }
    }
}

@keyframes navOpen {
    from {
        width: 5rem;
    }

    to {
        width: 15rem;
    }
}

@keyframes navClose {
    from {
        width: 15rem;
    }

    to {
        width: 5rem;
    }
}