@import "../../../assets/colors/colors";
@import "../../../assets/mixins/schedule";

.IndividualScheduleWrapper {
    min-width: 60rem;
    @include scheduleHeader;

    .Main {
        display: flex;

        .Time {
            min-width: 5rem;
            max-width: 5rem;
            background-color: $dark-blue;
            border-radius: .5rem 0 0 .5rem;

            ul {
                li {
                    position: relative;
                    height: 12rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: $whiteish;
                    border-bottom: 1px solid $whiteish;

                    div {
                        position: absolute;
                        right: 0;
                        content: "";
                        width: .7rem;
                        height: 2px;
                        background-color: $whiteish;
                    }

                    div:nth-child(1) {
                        top: 25%;
                    }

                    div:nth-child(2) {
                        top: 50%;
                    }

                    div:nth-child(3) {
                        top: 75%;
                    }
                }

                li:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    .IndividualSchedule {
        position: relative;
        display: grid;
        width: 100%;
        background-color: $dark-blue;

        div {
            position: relative;
            height: 12rem;
            background-color: $whiteish;
            border-bottom: 2px solid $dark-blue;
            border-right: 1.5px solid $dark-blue;

            div {
                position: absolute;
                right: 5%;
                content: "";
                width: 90%;
                background-color: $dark-blue;
                border: none;
            }

            div:nth-child(1) {
                top: 25%;
                max-height: .8px;
            }

            div:nth-child(2) {
                top: 50%;
                max-height: .8px;
            }

            div:nth-child(3) {
                top: 75%;
                max-height: .8px;
            }
        }

        a {
            position: absolute;
            width: 19%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0;
            font-size: 1.5rem;
            font-weight: 700;
            color: $dark-blue;
            border-radius: .5rem;
            box-shadow: 2px 2px 10px $dark-blue;
            transition: all 200ms linear;

            span {
                position: absolute;
                top: 80%;
                font-size: 1rem;
            }
        }

        a:hover {
            transform: scale(1.1);
            z-index: 200;
        }
    }

}