@import "../../../assets/colors/colors";
@import "../../../assets/mixins/schedule";

.IndividualScheduleWrapper {
    min-width: 55rem;
    @include scheduleHeader;

    .Main {
        display: flex;

        .Time {
            min-width: 5rem;
            max-width: 5rem;
            background-color: $dark-blue;
            border-radius: 1rem 0 0 1rem;

            ul {
                li {
                    height: 12rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: $whiteish;
                    border-bottom: 1px solid $whiteish;
                }

                li:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    .IndividualSchedule {
        position: relative;
        display: grid;
        width: 100%;
        background-color: $dark-blue;

        div {
            height: 12rem;
            background-color: $whiteish;
            border-bottom: .1rem solid $dark-blue;
            border-right: .1rem solid $dark-blue;
        }

        a {
            position: absolute;
            width: 19%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0;
            font-size: 1.5rem;
            font-weight: 700;
            color: $dark-blue;
            border-radius: .5rem;
            box-shadow: 2px 2px 10px $dark-blue;
        }
    }

}