@import "../../../assets/colors/colors";

.PatientDetailsWrapper {
  border-radius: 0.5rem;
  color: $dark-blue;
  font-weight: 600;
  overflow: hidden;

  header {
    width: 100%;
    height: 10rem;
    position: relative;
    background-color: $dark-blue;
    border-radius: 0.5rem 0.5rem 0 0;

    div {
      position: absolute;
      width: 10rem;
      height: 10rem;
      top: 5rem;
      left: calc(50% - 5rem);

      img {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
      }
    }

    div:before {
      content: "";
      display: block;
      width: 12rem;
      height: 12rem;
      position: absolute;
      top: -1rem;
      left: -1rem;
      border-radius: 100%;
      background-color: $light-blue;
    }

    .OptionsBtn {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      width: 3rem;
      height: 2rem;
      background-color: inherit;
      border: none;
      color: $light-blue;
      font-size: 1.5rem;
    }

    .Options {
      position: absolute;
      display: flex;
      flex-flow: column;
      top: 2.5rem;
      right: 0.5rem;
      width: fit-content;
      padding: 0.5rem;
      background-color: $light-blue;
      border-radius: 0.5rem 0 0.5rem 0.5rem;
      opacity: 0;
      transform: translateX(110%) rotateZ(-90deg);
      transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;

      li,
      a {
        margin-top: 0.5rem;
        padding: 0 0.2rem;
        cursor: pointer;
        transition: color 100ms linear;
      }

      li:hover,
      a:hover {
        color: $whiteish;
        transition: color 100ms linear;
      }
    }

    .Options.active {
      opacity: 1;
      transform: translateX(0) rotateZ(0);
      transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
    }
  }

  main {
    padding: 5rem 0.5rem 0;
    border: 5px solid $dark-blue;
    border-radius: 0 0 0.5rem 0.5rem;

    p,
    h2 {
      text-align: center;
    }

    svg {
      margin-right: 0.5rem;
    }

    .Observation {
      p {
        max-height: 10rem;
        padding-top: 1rem;
        text-align: left;
        border-top: 2px solid $dark-blue;
        overflow-y: scroll;
      }
    }
  }
}

@media (min-width: 1023px) {
  .PatientDetailsWrapper {
    width: 50rem;
    margin: 1rem auto;
    box-shadow: 2px 2px 20px $dark-blue;
  }
}
