@import "../../../../assets/colors/colors";

.TypeChartWrapper {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: $dark-blue;
  border-radius: .5rem;

  main {
    width: 100%;
    padding: 1rem;
  }

  p {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}

@media (min-width: 1023px) {
  .TypeChartWrapper {
    width: 95%;
  }
}