$whiteish: rgb(243, 243, 243);
$dark-blue: rgba(32, 42, 58, 1); // Navigation background color
$light-blue: rgba(95, 121, 169, 1); //
$fontColor: rgb(100, 101, 106);
$mintGreen: rgb(101, 195, 157);
$lightGreen: rgb(159, 186, 176);