@import "../../assets/colors/colors";
@import "../../assets/mixins/schedule";

@import "../../assets/colors/colors";

.Scheduler {
    position: relative;
    width: 100%;
    padding: 1rem 0;
    border-radius: 1rem;

    .Nav {
        margin: 1rem 0;

        .Link {
            margin-right: 1rem;
            font-size: 2rem;
            color: $dark-blue;
        }

        a.active,
        a:hover {
            color: $whiteish;
        }
    }

    .Main {
        display: flex;
    }
}