@import "../../assets/colors/colors";

.PatientsListWrapper {
    margin-top: 1rem;

    .Filters {
        border: 2px solid $dark-blue;
        padding: .5rem;
        margin-bottom: .5rem;

        header {
            display: flex;
            align-items: center;

            h3 {
                padding: .5rem;
                margin: 0 .5rem;
            }
        }

        form {
            label {
                display: flex;
                flex-flow: column;
                margin: .5rem 0;
            }

            input {
                height: 2rem;
                margin: .5rem 0;
                border: none;
                border-radius: .2rem;
                font-size: 1.2rem;
                font-weight: 700;
            }

            button {
                padding: .5rem 1rem;
                border: none;
                border-radius: .5rem;
                background-color: $dark-blue;
                color: $whiteish;
            }
        }
    }

    .PatientsList {
        border: 2px solid $dark-blue;
        padding: .5rem;

        header {
            display: flex;
            align-items: center;

            h3 {
                padding: .5rem;
                margin: 0 .5rem;
            }
        }

        h2 {
            margin: 2rem 0;
            text-align: center;
        }

        table {
            display: block;
            width: 100%;
            overflow-x: scroll;
            border-collapse: collapse;

            tbody {

                th,
                td {
                    border: 1px solid $dark-blue;
                    padding: .5rem;
                }

                th {
                    width: fit-content;
                    min-width: 10rem;
                    text-align: left;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: $dark-blue;
                }
            }
        }
    }
}

@media (min-width: 1023px) {
    .PatientsListWrapper {
        display: flex;
        flex-direction: row-reverse;

        .Filters {
            width: 25rem;
            margin: 0 1rem;
        }

        .PatientsList {
            width: calc(100% - 27rem);

            table {
                width: 100%;

                tbody {
                    width: 100%;
                    display: table;
                }
            }
        }
    }
}