.Backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: rgba(159, 186, 176, 0.40);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    z-index: 100;
}

@media (min-width: 1439px) {

    //Did this to awoid overflow x scroll on bigger screens
    .Backdrop {
        left: -13%;
    }
}