@import "../../../assets/colors/colors";

.Popover {
  position: absolute;
  width: fit-content;
  min-width: 8rem;
  visibility: hidden;
  opacity: 0;
  text-align: left;
  background-color: $mintGreen;
  box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.637);
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  z-index: 180;

  li {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: $whiteish;
  }
}

.Popover:before {
  position: absolute;
  content: "";
  right: calc(50% - 10px);
  top: -5px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent $mintGreen transparent;
}

.Popover.active {
  top: 100%;
  left: -1.2rem;
  visibility: visible;
  opacity: 1;
  transition: all 200ms cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.Popover {
  li:hover {
    color: $dark-blue;
    transition: all 200ms linear;
  }
}

@media(min-width: 1600px) {
  .Popover.active {
    left: 0;
  }
}