@import "../../assets/colors/colors";

.Home {
    max-width: 95%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: $light-blue;
    border-radius: 1rem;

    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Main {
        h1 {
            font-size: 1.2rem;
        }

        .Stats {
            .CurrentPatients {
                width: 30rem;
                max-width: 95%;
                margin: 1rem auto;
                padding: 1rem;
                background-color: $dark-blue;
                border-radius: 1rem;
                text-align: center;

                p {
                    font-size: 1.2rem;
                    margin: 1rem 0;
                }
            }
        }

        .PatientsListWrapper {
            width: 30rem;
            max-width: 95%;
            height: fit-content;
            margin: 1rem auto;
            padding: 1rem 0;
            background-color: $dark-blue;
            border-radius: 1rem;

            .PatientsListTable {
                table-layout: fixed;
                width: 100%;

                caption {
                    border-bottom: 2px solid $light-blue;
                }

                tbody {
                    display: block;
                    max-height: 15rem;
                    overflow: scroll;
                    border-collapse: collapse;

                    tr {
                        display: block;
                        width: 100%;
                    }

                    th,
                    td {
                        width: fit-content;
                        min-width: 10rem;
                        padding: .5rem;
                        text-align: left;
                        border-right: 1px solid $light-blue;
                    }
                }
            }
        }
    }
}

@media (min-width: 1023px) {
    .Home {
        margin-left: calc(5rem + 2.5%);
        margin-right: 2.5%;

        .Main {
            display: flex;

            .Stats {
                width: 50%;
            }

            .PatientsListWrapper {
                width: 40rem;
            }
        }
    }
}


;