@import "../../assets/colors/colors";

.Home {
    max-width: 95%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: $light-blue;
    border-radius: 1rem;

    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}