@import "../../assets/colors/colors";

.Home {
    max-width: 95%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: $light-blue;
    border-radius: 1rem;

    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Main {
        h1 {
            font-size: 1.2rem;
        }

        .Stats {
            .CurrentPatients {
                width: 30rem;
                max-width: 95%;
                margin: 1rem auto;
                padding: 1rem;
                background-color: $dark-blue;
                border-radius: 1rem;
                text-align: center;

                p {
                    font-size: 1.5rem;
                    margin: 1rem 0;
                }
            }
        }

        .PatientsListWrapper {
            width: 30rem;
            max-width: 95%;
            min-height: 100%;
            margin: 1rem auto 0;
            display: flex;
            flex-direction: column;

            .PatientsListTable {
                table-layout: fixed;
                width: 100%;
                background-color: $dark-blue;
                padding: 1rem 0;
                border-radius: 0 0 1rem 1rem;

                caption {
                    border-bottom: 2px solid $light-blue;
                    background-color: inherit;
                    border-radius: 1rem 1rem 0 0;
                }

                tbody {
                    display: block;
                    max-height: 15rem;
                    overflow: scroll;
                    border-collapse: collapse;

                    tr {
                        display: block;
                        width: 100%;
                    }

                    th,
                    td {
                        width: fit-content;
                        min-width: 10rem;
                        padding: .5rem;
                        text-align: left;
                        border-right: 1px solid $light-blue;
                    }
                }
            }

            .TasksList {
                width: 100%;
                max-height: 15rem;
                overflow-y: scroll;
                margin: 1rem auto 0;
                padding: 1rem;
                background-color: $dark-blue;
                border: 1px solid $dark-blue;
                border-radius: 1rem;

                h1,
                h2 {
                    text-align: center;
                }

                li {
                    width: 95%;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    margin: 1rem auto;
                    padding: 0 .5rem;
                    background-color: $light-blue;
                    font-size: 1rem;
                    border-radius: 1rem;

                    p {
                        width: 95%;
                        word-wrap: break-word;
                        cursor: pointer;
                    }

                    span {
                        margin: .5rem 0;
                        text-align: right;
                        color: rgb(211, 211, 211);
                    }
                }

                .Checked {
                    p {
                        text-decoration: line-through;
                    }
                }
            }
        }


    }
}

@media (min-width: 1023px) {
    .Home {
        margin-left: calc(5rem + 2.5%);
        margin-right: 2.5%;

        .Main {
            display: flex;

            .Stats {
                width: 50%;
            }

            .PatientsListWrapper {
                width: 40rem;
            }
        }
    }
}