@import "./filters";

@mixin list {
    .Wrapper {
        margin-top: 1rem;
        @include filter;

        .List {
            border: 2px solid $dark-blue;
            padding: .5rem;
            max-height: 40rem;
            overflow: auto;

            header {
                display: flex;
                align-items: center;

                h3 {
                    padding: .5rem;
                    margin: 0 .5rem;
                }
            }

            p {
                margin: 2rem 0;
                font-size: 1.5rem;
                text-align: center;
            }

            table {
                display: block;
                border-collapse: collapse;

                tbody {

                    th,
                    td {
                        border: 1px solid $dark-blue;
                        padding: .5rem;
                    }

                    td {
                        height: 3.5rem;

                        a,
                        button {
                            margin: 0 .2rem;
                        }

                        a {
                            color: rgb(61, 58, 250);

                            svg {
                                transition: transform 200ms linear;
                            }

                            svg:hover {
                                transform: scale(1.1);
                            }
                        }

                        button {
                            background-color: inherit;
                            border: none;
                            color: rgb(163, 0, 0);
                            font-size: 1rem;
                            padding: 0;
                        }
                    }

                    th {
                        width: fit-content;
                        min-width: 10rem;
                        text-align: left;
                        text-transform: uppercase;
                        font-weight: 700;
                        color: $dark-blue;
                    }
                }
            }

        }
    }

    @media (min-width: 1023px) {
        .Wrapper {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            .List {
                width: calc(100% - 26rem);
            }
        }
    }
}