@mixin pageWrapper {
  max-width: 95%;
  margin: 0 auto;
  padding: 0.5rem 0.5rem;
  background-color: $light-blue;
  border-radius: 0.5rem;
}

@mixin pageWrapper1023 {
  // PageWrapper styles for screen larger then 1023px!
  max-width: 100%;
  /* calc(100% - 5.5rem); // 5 rem margin left and .5rem to line it up with header and avatar! */
  max-height: calc(100vh - 5rem);
  margin-left: 5rem;
  overflow-y: scroll;
}

@mixin pageHeader {
  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1,
    p {
      font-size: 1rem;
      margin: 0.5rem 0;
    }
  }
}

@mixin pageNav {
  .Nav {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $dark-blue;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0 0.5rem;
    overflow-x: scroll;
    overflow-y: hidden;

    span {
      display: block;
      margin: 0;
    }

    a {
      position: relative;
      min-width: fit-content;
      margin: 0;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 5px;

      svg {
        display: none;
        position: absolute;
        bottom: -6px;
        left: calc(50% - 0.25rem);
        color: $whiteish;
      }
    }

    a.active,
    a:active,
    a:hover {
      margin-bottom: 0;
      border-bottom: 5px solid $whiteish;

      svg {
        display: block;
      }
    }
  }

  @media (min-width: 1023px) {
    .Nav {
      a {
        display: flex;

        span {
          margin: 0 0.1rem;
        }
      }
    }
  }
}