@mixin scheduleHeader {
  .Header {
    margin-left: 5rem;
    width: calc(100% - 5rem);
    display: flex;
    align-items: center;
    background-color: $dark-blue;
    height: 3rem;
    border-radius: .5rem .5rem 0 0;

    li {
      width: 20%;
      height: 100%;
      border-right: 1px solid $whiteish;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 1.5rem;
    }

    li:last-child {
      width: calc(20% - 1px);
      border-right: none;
    }
  }
}