@import "../../../../assets/colors/colors";

.AverageAge {
    width: 100%;
    height: 15rem;
    margin: 1rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: $dark-blue;
    border-radius: 1rem;

    p {
        font-size: 1.5rem;
        margin: 1rem 0;
    }
}