.Layout {
  position: relative;
  min-height: 100vh;
  padding: 0.5rem 0;
  overflow: hidden;

  .Main {
    padding-top: 4rem;
  }
}

@media (min-width: 1023px) {
  .Layout {
    padding: 0.5rem;

    .Main {
      padding-top: 0;
    }
  }
}

@media (min-width: 1600px) {
  .Layout {
    padding: 0.5rem 10rem;
  }
}

@media (min-width: 2500px) {
  .Layout {
    padding: 0.5rem 20rem;
  }
}