@import "../../assets/colors/colors";
@import "../../assets/mixins/pages";

.Settings {
    @include pageWrapper;

    .Header {
        .Title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    @include pageNav;
}

@media (min-width: 1023px) {
    .Settings {
        @include pageWrapper1023;

        .Header {
            .SettingsNav {
                overflow-x: auto;
            }
        }

    }
}