@import "../../assets/colors/colors";
@import "../../assets/mixins/pages";

.Physios {
    padding: 0.5rem 0;
    @include pageNav;

    main {
        padding: .5rem 0;
    }
}

@media (min-width: 1023px) {
    .Physios {
        .Nav {
            overflow-x: auto;
        }
    }
}