@import "../../../assets/colors/colors";

.PatientDetailModal {
    position: relative;
    height: fit-content;
    width: 30rem;
    max-width: 90%;
    margin: 2rem auto;
    overflow: hidden;
    border-radius: .5rem;
    color: $whiteish;
    background-color: $light-blue;
    box-shadow: 5px 5px 10px $dark-blue;
    // When modal is active Sheduler component gets overflow: hidden property

    .Header {
        width: 100%;
        background-color: none;
        position: relative;

        .Options {
            position: absolute;
            top: .5rem;
            right: .5rem;
            flex-flow: column;

            button {
                background-color: transparent;
                border: none;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .OptionsList {
                position: absolute;
                display: none;
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                border-radius: .5rem;
                background-color: $light-blue;

                ul {
                    padding: 1rem 0;
                    margin: 0;

                    li {
                        button {
                            display: block;
                            width: fit-content;
                            margin: 0 auto;
                            font-size: 1.2rem;
                            font-weight: 700;
                            text-align: center;
                            color: $whiteish;
                            cursor: pointer;
                        }

                        button:hover {
                            border-bottom: 1px solid $whiteish;
                        }
                    }


                }
            }

            .OptionsList.active {
                display: block;
                width: 8rem;
                height: fit-content;
                min-height: 4rem;
                animation: optionsOpen 200ms ease-in-out;
                z-index: 5;
            }
        }
    }

    .Main {
        padding-bottom: 1rem;
        position: relative;

        .Avatar {
            position: absolute;
            left: calc(50% - 7.5rem);
            top: -10rem;

            img {
                width: 15rem;
                height: 15rem;
            }
        }

        .MainInfo,
        .Observation {
            width: 35rem;
            max-width: 95%;
            margin: 0 auto;
            color: $dark-blue;
            font-weight: 700;
            text-align: center;
        }

        .MainInfo {
            padding-top: 6rem;
        }

        .Observation {

            p {
                white-space: pre-wrap;
                max-height: 15rem;
                padding: .5rem;
                overflow-y: scroll;
                overflow-x: hidden;
            }
        }
    }
}

@keyframes optionsOpen {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }

    50% {
        width: 8rem;
        height: fit-content;
        opacity: .5;
    }

    100% {
        width: 8rem;
        height: fit-content;
        opacity: 1;
    }
}