@import "../../assets/colors/colors";

.MainHeader {
  position: fixed;
  top: 0;
  left: 2.5%;
  height: 4rem;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  background-color: $dark-blue;
  box-shadow: 2px 0 20px $dark-blue;
  z-index: 80;

  .BurgerBtn {
    width: 1.5rem;
    border: none;
    background: none;
    padding: 0;

    div {
      width: 100%;
      height: 0.2rem;
      margin: 0.3rem 0;
      background-color: $whiteish;
      border-radius: 1rem;
      content: "";
    }
  }

  .UserAvatar {
    position: relative;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    p {
      color: $whiteish;
      font-weight: 600;
      margin-right: 1.5rem;
    }

    svg {
      width: 60%;
      height: 60%;
    }

    img {
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      border-radius: 100%;
      background-color: $light-blue;
    }
  }
}

@media (min-width: 1023px) {
  .MainHeader {
    position: static;
    width: calc(100% - 5rem);
    margin-left: 5rem;

    .UserAvatar {
      margin-right: 0;
    }
  }
}
