@import "../../assets/colors/colors";

.MainHeader {
    position: fixed;
    top: 0;
    left: 2.5%;
    height: 4rem;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
    background-color: $dark-blue;
    box-shadow: 2px 0 20px $dark-blue;
    z-index: 80;

    .BurgerBtn {
        width: 2rem;
        border: none;
        background: none;

        div {
            width: 100%;
            height: .2rem;
            margin: .3rem 0;
            background-color: white;
            border-radius: 1rem;
            content: "";

        }
    }

    .UserAvatar {
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: $whiteish;
            font-weight: 600;
            margin-right: 1.5rem;
        }

        svg {
            width: 60%;
            height: 60%;
        }


    }
}

@media (min-width: 1023px) {
    .MainHeader {
        position: static;
        width: calc(95% - 2rem);
        margin-left: 5rem;
        /* .BurgerBtn {
            margin-left: 4rem;
        } */

        .UserAvatar {
            margin-right: 0;
        }
    }
}