@import "../../assets/colors/colors";

.MainHeader {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;

    .BurgerBtn {
        width: 2rem;
        margin-left: 1rem;
        border: none;
        background: none;

        div {
            width: 100%;
            height: .2rem;
            margin: .3rem 0;
            background-color: white;
            border-radius: 1rem;
            content: "";

        }
    }

    .UserAvatar {
        height: 4rem;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: $whiteish;
            font-weight: 600;
            margin-right: .5rem;
        }

        svg {
            width: 60%;
            height: 60%;
            margin: 0 1rem;
        }


    }
}

@media (min-width: 1023px) {
    .MainHeader {
        width: calc(100% - 5rem);
        margin-left: 5rem;
    }
}