@import "../../assets/colors/colors";

.Patients {
    max-width: 95%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: $light-blue;
    border-radius: 1rem;

    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .PatientsLink {
        width: 30rem;
        max-width: 95%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0;
        margin: 1rem auto;
        background-color: $dark-blue;
        border-radius: 1rem;

        svg {
            font-size: 3rem;
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 0;
        }

        svg,
        p {
            transition: color 200ms linear;
        }
    }

    .PatientsLink:hover {

        svg,
        p {
            color: $light-blue;
        }
    }

}

@media (min-width: 1023px) {
    .Patients {
        margin-left: calc(5rem + 2.5%);
        margin-right: 2.5%;
    }
}