@import "../../assets/colors/colors";
@import "../../assets/mixins/mixins";

.Patients {
    @include pageWrapper;

    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Main {
        display: flex;
        flex-flow: column;
        justify-content: center;
        min-height: 75vh;

        .PatientsLink {
            width: 30rem;
            max-width: 95%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            padding: 3rem 0;
            margin: 1rem auto;
            background-color: $dark-blue;
            border-radius: 1rem;

            svg {
                font-size: 3rem;
            }

            p {
                font-size: 1.5rem;
                margin-bottom: 0;
            }

            svg,
            p {
                transition: color 200ms linear;
            }
        }

        .PatientsLink:hover {

            svg,
            p {
                color: $light-blue;
            }
        }
    }

}

@media (min-width: 1023px) {
    .Patients {
        @include pageWrapper1023;
    }
}