@import "../../../../assets/colors/colors";

.AddUserForm {
    max-width: 25rem;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: .5rem;
    background-color: $dark-blue;
    box-shadow: 5px 5px 10px $dark-blue;

    h2 {
        text-align: center;
    }

    input {
        background-color: $whiteish;
        height: 2rem;
        padding: .2rem;
        margin: .5rem 0;
        border-radius: .5rem;
        border: none;
    }

    label {
        display: flex;
        flex-flow: column;
    }

    section {
        display: flex;
        flex-flow: column;
    }

    .SubmitBtn {
        display: block;
        width: 6rem;
        height: 2rem;
        margin: 1rem auto;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $dark-blue;
        border-radius: .5rem;
        border: none;
    }
}