@import "../../../../assets/colors/colors";

.AddPatientForm {
    height: fit-content;
    width: 100%;
    padding: .5rem 0;
    overflow: hidden;

    input,
    button,
    select {
        background-color: $whiteish;
        height: 2.5rem;
        padding: .2rem;
    }

    input {
        margin: .5rem 0;
        font-size: 1rem;
        font-weight: 700;
        color: $dark-blue;
        border: none;
        border-radius: .5rem;
        text-align: center;
        letter-spacing: 1px;
    }

    header {
        width: 100%;
        text-align: center;
    }

    button {
        width: 10rem;
        height: 3rem;
        display: block;
        margin: 1rem auto;
        font-size: 1.5rem;
        font-weight: 700;
        box-shadow: 0px 10px 14px -7px $dark-blue;
        background: linear-gradient(to bottom, rgb(255, 254, 254) 5%, rgb(192, 192, 192) 100%);
        border: none;
        border-radius: 1rem;
        color: $fontColor;
        text-shadow: 0px 1px 0px $dark-blue;
    }

    label {
        width: 25rem;
        max-width: 90%;
        margin: .5rem auto;
        display: flex;
        flex-flow: column;
    }

    select {
        width: 10rem;
        font-size: 1rem;
        border: none;
        border-radius: .5rem;
    }

    textarea {
        min-height: 15rem;
        margin: 0.5rem 0;
        padding: .5rem;
        border: 2px solid $dark-blue;
        border-radius: 1rem;
        font-family: inherit;
        font-size: 1rem;
        color: $dark-blue;
    }

    .Main {
        width: 200%;
        display: flex;
        transform: translateX(0);
        transition: transform 100ms linear;
    }

    .Main.active {
        transform: translateX(-50%);
    }

    .MainInfo {
        width: 50%;
    }

    .AdditionalInfo {
        width: 50%;
    }

    .GenderWrapper,
    .PhisioWrapper {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}