@import "../../assets/colors/colors";

.Tasks {
    max-width: 95%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: $light-blue;
    border-radius: 1rem;

    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 1023px) {
    .Tasks {
        margin-left: calc(5rem + 2.5%);
        margin-right: 2.5%;
    }
}