@import "../../../assets/colors/colors";

.AddPatientModal {
    height: fit-content;
    width: 35rem;
    max-width: 95%;
    margin: 5rem auto;
    overflow: hidden;
    border-radius: 4rem 0 4rem 0;
    color: $whiteish;
    background-color: $light-blue;
    box-shadow: 5px 5px 10px $dark-blue;
}