@import "../../../assets/colors/colors";
@import "../../../assets/mixins/filters";

.UsersWrapper {

    @include filter;

    .UsersList {
        border: 2px solid $dark-blue;
        padding: .5rem;

        header {
            display: flex;
            align-items: center;

            h3 {
                padding: .5rem;
                margin: 0 .5rem;
            }
        }

        h2 {
            margin: 2rem 0;
            text-align: center;
        }

        table {
            display: block;
            width: 100%;
            overflow-x: scroll;
            border-collapse: collapse;

            tbody {

                th,
                td {
                    border: 1px solid $dark-blue;
                    padding: .5rem;
                }

                th {
                    width: fit-content;
                    min-width: 10rem;
                    text-align: left;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: $dark-blue;
                }
            }
        }
    }
}

@media (min-width: 1023px) {
    .UsersWrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        .UsersList {
            width: calc(100% - 26rem);
        }
    }
}