@import "../../../../assets/colors/colors";

.AddPatientForm {
    width: 100%;
    padding: .5rem 0;
    overflow: hidden;

    input,
    button,
    select {
        background-color: $whiteish;
        height: 2rem;
        padding: .2rem;
        border-radius: .5rem;
        border: none;
    }

    input {
        margin: .5rem 0;
        font-size: 1rem;
        font-weight: 700;
        color: $dark-blue;
        text-align: center;
        letter-spacing: 1px;
    }

    header {
        width: 100%;
        text-align: center;
    }

    button {
        display: block;
        width: 6rem;
        margin: 1rem auto;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $dark-blue;
        border-radius: .5rem;
        border: none;
    }

    label {
        display: flex;
        flex-flow: column;
    }



    label,
    h3 {
        width: 20rem;
        max-width: 90%;
        margin: .5rem auto;
    }

    select {
        width: 10rem;
        margin: 0 auto;
        font-size: 1rem;
    }

    textarea {
        min-height: 15rem;
        margin: 0.5rem 0;
        padding: .5rem;
        border-radius: .5rem;
        font-family: inherit;
        font-size: 1rem;
        color: $dark-blue;
    }

    .Main {
        width: 200%;
        display: flex;
        transform: translateX(0);
        transition: transform 100ms linear;

        .WorkingHours {
            label {
                display: flex;
                flex-flow: row;
                align-items: center;
            }
        }
    }

    .Main.active {
        transform: translateX(-50%);
    }

    .MainInfo {
        width: 50%;
    }

    .AdditionalInfo {
        width: 50%;
    }

    .GenderWrapper,
    .PhisioWrapper {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}