@import "./assets/colors/colors";

.App {
    position: relative;
    color: $whiteish;
}

@media (min-width: 1440px) {
    .App {
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 2500px) {
    .App {
        width: 2500px;
        margin: 0 auto;
    }
}