@import "../../../../assets/colors/colors";

.AddEditPhysioForm {
    max-width: 25rem;
    margin: 1rem auto;
    padding: .5rem;
    border-radius: .5rem;
    background-color: $dark-blue;
    box-shadow: 5px 5px 10px $dark-blue;

    h2 {
        text-align: center;
    }

    input {
        background-color: $whiteish;
        border-radius: .5rem;
        border: none;
    }

    .BasicInfo {
        label {
            display: flex;
            flex-flow: column;
            margin: .5rem 0;

            input {
                height: 2rem;
                padding: .2rem;
                margin: .5rem 0;
            }
        }
    }

    .WorkingDays,
    .WorkingHours {
        div {
            display: flex;
            padding: .5rem 0;
            overflow-x: auto;
            overflow-y: hidden;

            label {
                display: flex;
                flex-direction: column;
                margin: 0 .5rem;

                input {
                    margin: .5rem auto 0;
                }
            }
        }
    }

    .WorkingHours {
        div {
            justify-content: flex-start;
        }
    }

    .SubmitBtn {
        display: block;
        width: 6rem;
        height: 2rem;
        margin: 2rem auto 1rem;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $dark-blue;
        border-radius: .5rem;
        border: none;
    }
}

@media(min-width: 1023px) {
    .AddEditPhysioForm {
        max-width: 42rem; //1rem on parent padding and 1 rem on column gap

        .BasicInfo {
            display: grid;
            grid-template-columns: 20rem 20rem;
            column-gap: 1rem;
            grid-template-rows: repeat(2, 5rem);
        }
    }
}