@import "../../../assets/colors/colors";
@import "../../../assets/mixins/pages";

.GroupsWrapper {
    width: 100%;
    margin: 0 auto;
    background-color: $light-blue;
    border-radius: 1rem;
    border: 1px solid $light-blue;

    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @include pageNav;

    .Main {
        overflow-x: scroll;
    }
}

@media (min-width: 1023px) {
    .GroupsWrapper {
        .Nav {
            overflow-x: auto;
        }
    }
}