@import "../../../assets/colors/colors";

.GroupsWrapper {
    width: 100%;
    margin: 0 auto;
    background-color: $light-blue;
    border-radius: 1rem;
    border: 1px solid $light-blue;

    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Nav {
        display: flex;
        width: 100%;
        background-color: $dark-blue;
        border-radius: .5rem;
        padding: 0 1rem;
        overflow-x: scroll;

        a {
            position: relative;
            width: 30%;
            max-width: 10rem;
            height: 100%;
            margin: 0;
            padding: 1rem;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;

            svg {
                display: none;
                position: absolute;
                bottom: -6px;
                left: calc(50% - .25rem);
                color: $whiteish;
            }
        }

        a.active,
        a:active,
        a:hover {
            border-bottom: 6px solid $whiteish;

            svg {
                display: block;
            }
        }
    }

    .Main {
        overflow-x: scroll;
    }
}

@media (min-width: 1023px) {
    .GroupsWrapper {
        .Nav {
            overflow-x: auto;
        }
    }
}